/*子元素的一些语法*/
.container{
    display: flex;
    width: 1200px;
    height: 600px;
    gap: 20px;
    background: #f0f0f0;
    border-radius: 8px;
    align-items: center;
    justify-content:space-evenly;
}
.item{
    padding: 15px;
    border-radius: 8px;
    color: azure;
    font-weight: bold;  /*设置为粗体*/
}
.a{
    background: #c5e3f1;
    flex: 0 0 100px;  /*0不增长  0不压缩  固定100px*/
}
.b{
    background: #e5f7da;
    flex:1;  /*1表示平均分配*/
}
.c{
    background: #eacff5;
    flex:2;  /*比1的元素大一倍*/
}
.d{
    background: #efadcd;
    flex:1;  
    order:-1;  /*默认值是0，设成-1就会在最前面*/
}
.e{
    background: #f5f1c9;
    flex:1;  
    align-self: flex-start;  /*此元素单独贴近顶部*/
}
.f{
    background: #eda1a1;
    flex:1;  
}