
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}后台管理{% endblock %}</title>  
   
    <link rel="stylesheet" href="{{ url_for('static', filename='basic111.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>后台管理</h1>
        <nav>
            <a href="/logout">退登</a> 
            <a href="/">博客</a>
        </nav>
    </header>

    <main>
        <aside> 
                <h2>欢迎，{{ current_user.username }}</h2>
                <ul>   
                    <li>当前注册用户：{{ user_count }} 位</li>   
                    <li>当前文章总数：{{ post_count }} 篇</li>
                </ul>
        </aside>
        
        <div class="content">  
       
            <div class="admin">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <script>
                            window.onload = function() 
                            {
                                {% for category, message in messages %}
                                    alert("{{ message }}");
                            {% endfor %}
                            };
                        </script>
                    {% endif %}
                {% endwith %}
            
            
            <h1>用户管理</h1>
            </div>
            <table>   <!--建表，表格容器-->
            <thead>    <!-- 表头（列名） -->
                <tr>   <!-- 行（Table Row） -->
                    <th>ID</th>   <!-- 表头单元格（Table Header） -->
                    <th>用户名</th>
                    <th>文章数量</th>
                  <!-- <th>密码哈希</th>--> 
                    <th>是否管理员</th>
                    <th>注册时间</th>
                    <th>账号管理</th>
                </tr>
            </thead>
            <tbody>    <!-- 表体（数据） -->
                {% for user in users %}
                <tr>  <!-- 第1行数据 -->
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.post_count }}</td>
                    <!--  <td>{{ user.password_hash[:30] }}...</td>--> 
                    <td>{{ user.is_admin}}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <div class="btn_a">
                        <form action="/admin/delete_user/{{ user.id }}" method="POST">
                            <button type="submit" class="btn btn-user-delete" onclick="return confirm('确定要删除这个用户吗？');">删除用户</button>
                        </form>
                        <form action="/admin/reset_password/{{user.id}}" method="POST">
                            <button type="submit" class="btn btn-reset-password" onclick="return confirm('确定要重置这个用户的密码吗？');">重置密码</button>
                        </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>  
            
            <div class="add_user">
                <a href="/admin/add_user">点击此处添加新账号</a>
            </div>
       
        </div>
        
    </main>

    <footer>
        <p>© 2026 我的博客</p>
    </footer>
</body>
</html>