{% extends "base.html" %}

{% block title %}我的文章{% endblock %}
{% block content %}
    <div class="posts-wrapper">
        {% if posts %}    <!--如果有posts就执行下面的循环任务，这里的posts是在主网页的render_template规定的-->
            {% for post in posts %}  
                <article>
                    <h2>{{ post.title }}</h2>
                    <p>发布时间：{{ post.created_at }}</p>
                    <p>文章类别：{{post.category}}</p>
                    {% if current_user.is_admin %}
                    <p>作者：{{post.author}}</p>
                    {% endif %}
                    <p class="article-summary">文章简介：{{ post.content[:500] }}{% if post.content|length > 500 %}...{% endif %}</p>
                    <figure>
                        <img src="C:\Users\JXM\Pictures\Screenshots\屏幕截图 2026-07-19 225424.png" alt="示例">
                    </figure>
                    <a href="/post/{{ post.id }}">点击此处阅读全文</a>
                </article>
            {% endfor %}
        {% else %}
            <!-- 没有文章时显示这个 -->
            <div class="lianjie">
            <p>还没有文章，<a href="/new" >写第一篇</a></p>
            </div>
        {% endif %}
    </div>
{% endblock %}