<!DOCTYPE html>    <!--html语法中的前提基础，基本框架格式，必写-->
<html lang="zh-CN">    <!--框架基础，文档初级结构,中文的网页通常在此处声明简体中文-->
    <head>   <!--头部内容，属于浏览器阅读区域，规定一些样式，语言等内容-->
        <meta charset="UTF-8">  <!--告诉浏览器使用 UTF-8 字符编码来解析网页,通常放在head的最开头位置-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!--用作适应移动端网页，通常都需要添加-->
        <link rel="stylesheet" href="{{ url_for('static', filename='basic111.css') }}" media="all">   
        <!--url_for()	Flask 内置函数，用来生成 URL,这里是因为flask的规则不能直接读取文件，需要把静态文件放在指定文件夹才能读取，静态文件的意思是文件内容固定
        Flask 不能直接读取文件，而是通过 URL 来定位资源，url_for() 就是把“文件路径”翻译成“Flask 能识别的 URL”的翻译器。
        URL = Uniform Resource Locator（统一资源定位符），也就是网址，在flask中就是路由-->
        <!--链接到css文件对博客的正文内容进行一些规定，media="all" 表示对所有设备生效，可以省略，media="screen"表示只对屏幕生效-->
        <!--除了外部的链接方法这里也可以使用内部<style>标签对内容进行规定，被style包裹的内容可以直接写css代码-->
        <!--eg:
        <style>
             p{
             color:blue   这里给p标签包裹的文字内容加了一个颜色的规定
             }
        </style>-->
        <title>我的博客</title> <!--这里是网页做上面部分的标签显示内容-->
    </head>
    <body>   <!--这是网页显示给客户的内容-->
        <header>   <!--这是网页的导航栏部分，处在网页最上端-->
            <h1>我的博客</h1>  <!--<h1>标签是表示其中包裹的内容是标题，数字越大标题字号会越小，6最小-->
            <nav>   <!--nav标签包裹的内容通常是链接，主要用于构建导航栏的菜单，其中的内容可以添加图表和下拉栏，暂时不使用，与div的区别在于div的范围会更大，相当于一个集合-->
                <a href="这里放可跳转的链接">首页</a>
                <a href="#">文章</a>  <!--a标签包裹的内容是链接，可以跳转，href是填写链接的地方，也可以添加登录注册按钮之类，此处暂时不涉及-->
                <a href="#">关于</a>
            </nav>
        </header>
        <main>   <!--这是网页的主体内容部分-->
            <div class="posts-wrapper">
                {% for post in posts %}   <!--对于首页内容，我们需要遍历所有文章，输出的是文章列表，所以这里的语句是循环输出的意思-->
                <article>  <!--对于博客主体内容是文章，使用此标签-->
                <h2>{{ post.title }}</h2>   <!--post是个字典，后面跟随的是设定好的键名，可以直接取出值然后·放进模版-->
                <p>发布时间：{{ post.date }}</p>  <!--p标签包裹的内容是正文部分，这里添加了time标签用来显示时间，datetime部分的时间是浏览器阅读的内容，标签内写的内容是用户看到的内容-->
                <!--这里提到可以使用div这个分类工具包裹时间标签，方便后续添加相同层级的内容，比如作者-->
                <!--eg:
                <div class="post-meta">
                    <time datetime="2026-7-20">2026.7.20</time>  这里以后就可以添加其他内容
                </div>-->
                <p class="article-summary">文章简介：{{ post.summary }}</p>  <!--这里在p标签内部添加了一个类，可以对此行内容更精细化操作，所有语义标签内部都可以添加类名-->
                <!--p标签内部还可以对一些特殊字体进行mark标签的标亮，eg:<p>这是一段<mark>话</mark></p>  这时候“话”这个字就会被标亮-->
                <figure>   <!--此标签表示其包裹的内容为图片-->
                    <img src="C:\Users\JXM\Pictures\Screenshots\屏幕截图 2026-07-19 225424.png" alt="示例">  <!--img标签包裹的内容是图片链接，链接写在src里，alt表示当图片显示有误时显示其中填写的文字-->
                </figure>
                <!--这里如果显示完整的文章可以添加一个<section>标签用来标记不同章节的内容用法与其他标签相同-->
                <a href="/post/{{ post.id }}">点击此处阅读全文</a>  <!--通常在博客中不会直接显示全部文章内容，所以通常在文章底部会有点击跳转的链接，使用a标签包裹即可-->
                </article>  <!--博客通常存在多篇文章，对于上述完整的代码进行复制或改动即可-->
                {% endfor %}  <!--这里表示循环结束-->

                <!--还有条件语句：
                {% if user %}
                    <p>欢迎，{{ user.name }}</p>
                {% else %}
                    <p>请登录</p>
                {% endif %}-->
            </div>
            <aside>  <!--侧边栏的内容-->
                <h2>作者简介</h2>
                <p>一段简介内容。</p>
                <h3>文章分类</h3>
                <ul>   <!--ul标签用来创建无序列表，li表示列表项中的元素内容，不可单独使用，ul中的每一项内容前面是一个小黑点并有默认缩进-->
                       <!--在ul的css对应项中可以使用如下内容取消黑点和缩进
                       ul {
                            list-style: none;        /* 去掉圆点 */
                            padding: 0;              /* 去掉缩进 */
                            margin: 0;
                        }--> 
                        <!--与ul对应的标签是ol创建的是有序列表，小黑点的位置被取代为标号的数字，元素内容还是用li进行包裹-->
                    <li><a href="#">python</a></li>   <!--在侧边栏中添加一些内容可跳转，此处也说明了标签可以进行自由组合嵌套-->
                    <li><a href="#">前端开发</a></li>
                    <li><a href="#">学习笔记</a></li>
                </ul>
            </aside>
        </main>
        <footer>
            <p>一段通常写在博客尾部的话<span class="icon">😊</span></p>  <!--这里的span是一个包裹一小段文字或元素的语法，可以利用class很方便的对某个别元素进行操作-->
        </footer>
    </body>
</html>